@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

/* Navbar */
nav {
    background-color: #fff;
    padding-top: 75px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
}

.nav-fixed {
    position: fixed;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav .title {
    text-align: left!important;
}

nav .links {
    text-align: right!important;
}

nav div {
    margin-top: auto;
    margin-bottom: auto;
}

nav a {
    padding-right: 10px;
    color: #212529;
}

nav a:last-of-type {
    padding-right: 0;
}

nav .links-small {
    display: none;
    text-align: center!important;
}

@media screen and (max-width: 768px) {
    nav .title {
        text-align: center!important;
    }

    nav .links {
        display: none;
    }

    nav .links-small {
        display: block;
    }
}


/* Main layout */

::selection {
    background: lightgray;
}

body {
    font-family: 'Source Serif Pro', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h4 a {
    color: #212529!important;
}

a {
    color: slategray;
    transition: .4s ease;
}

a:hover {
    color: #828899!important;
    text-decoration: none;
}

p {
    text-align: justify;
}

.white-text {
    color: #fff;
}

.dark-grey-text {
    color: #212529;
}

.sans-serif {
    font-family: 'Roboto', sans-serif;
}

.btn-light {
    font-family: 'Source Serif Pro', serif!important;
    transition: .5s ease;
}

.btn-light:hover {
    cursor: pointer;
}

.row-no-margin {
    margin-left: 0;
    margin-right: 0;
}

.z-depth-1 {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.text-shadow {
    text-shadow: 2px 2px rgba(0,0,0,.18);
}

/* image links */

.link {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.link:hover {
    opacity: 0.8;
}


/* table display stuff*/

.table-like {
    display: table;
    width: 100%;
}

.table--row {
    display: table-row;
    text-align: center;
}

.table--cell {
    display: table-cell;
    vertical-align: middle;
}

/* about page */

.cell-40 {
    width: 40%;
}

.cell-45 {
    width: 40%;
}

/* for posts */

.parallax {
    color: white;
    text-shadow: 2px 2px rgba(0,0,0,.18);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.gallery {
    outline: 3px solid white;
}

.flex-landscape {
    flex:1.5;
}

.flex-portrait {
    flex:0.6667;
}

.flex-2-landscape, .flex-portrait-iphone {
    flex:0.75;
}

.flex-landscape-iphone {
    flex:1.3333;
}

@media screen and (max-width: 768px) {
    .flex-landscape, .flex-2-landscape, .flex-portrait, .flex-column3,
    .flex-portrait-iphone, .flex-landscape-iphone {
        flex: 100%;
        max-width: 100%;
    }

    .table--row, .table-like {
        display:block;
    }

    .table--cell {
        display: inline-block;
        width:100%;
    }

    .cell-40, .cell-45 {
        width:100%;
    }

    .parallax {
        background-attachment: scroll;
    }
}

.flex-column {
    width: 45%;
}

.flex-column3 {
    width: 30%;
    max-width: 380px;
}

.flex-column3 img {
    width: 100%;
}
